/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    background-image: url('image.jpg');
    background-size: cover; /* Ensure the background image covers the entire background */
    background-position: center;
    background-attachment: fixed;
    color: #333;
    padding: 20px;
}

/* Container styles */
.calculator {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

/* Input styles */
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
}

/* Button styles */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

/* Result styles */
#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
